@import "/src/sass/global";

  .section-vitrine__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 90px 0 86px;
    background-color: $background;
  }
  .section-vitrine__a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 211.5px;
    height: 40px;
    text-align: center;
    border: 1px solid #bdbdbd;
  }
  .section-vitrine__li{
    font-family: $font;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 16px;
    text-transform: uppercase;
    color: #3b3b3b;
  }

