// @import "./global";

.footer{
  display: grid;
  grid-template: 
    "sobre information pagamento cadastre"
    "direitos direitos direitos direitos";
  width: 100%;
  background-color: $dark-color;
  color: $background;
  &__sobre{
    margin: 59px 93px 42px 93px;
    grid-area: sobre;
  }
  &__h4{
    width: 100%;
    margin-bottom: 24px;
    font-family: $font;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 19.5px;
    text-transform: uppercase;
  }
  &__p{
    font-family: $font;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
  }
  &__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
  }
  &__span{
    width: 20px;
    height: 20px;
    margin-top: 64px;
    &--facebook{
      @include background('../assets/VTEX-TEST/facebook.svg');
    }
    &--instagram{
      @include background('../assets/VTEX-TEST/044-instagram.svg');
    }
    &--youtube{
      @include background('../assets/VTEX-TEST/Vector.svg');
    }
    &--visa{
      width: 43.8px;
      height: 15.54px;
      margin: 0;
      @include background('../assets/logos/Group1351.svg');
    }
    &--elo{
      width: 44px;
      height:20.7px;
      margin: 0;
      @include background('../assets/logos/elo.svg');
    }
    &--aolo{
      width: 39px;
      height:26px;
      margin: 0;
      @include background('../assets/logos/alelo.svg');
    }
    &--dinner{
      width: 56px;
      height:14.5px;
      margin: 0;
      @include background('../assets/logos/dinners.svg');
    }
    &--ifood{
      width: 41px;
      height:21.7px;
      margin: 0;
      @include background('../assets/logos/ifood.svg');
    }
    &--master{
      width: 37.2px;
      height:29px;
      margin: 0;
      @include background('../assets/logos/mastercard.svg');
    }
    &--pix{
      width: 55px;
      height:19.55px;
      margin: 0;
      @include background('../assets/logos/pix.svg');
    }
    &--american{
      width: 32px;
      height:30.31px;
      margin: 0;
      @include background('../assets/logos/amex.svg');
    }
    &--tiquet{
      width: 29px;
      height:29px;
      margin: 0;
      @include background('../assets/logos/ticket.svg');
    }
    &--sodexo{
      width: 48px;
      height:16px;
      margin: 0;
      @include background('../assets/logos/sodexo.svg');
    }
    &--econverse{
      width: 106.25px;
      height: 31.62px;
      margin: 0;
      @include background('../assets/VTEX-TEST/Grupo1999.svg')
    }
    &--vtex{
      margin: 0;
      width: 87.83px;
      height: 32px;
      @include background('../assets/VTEX-TEST/Group35.svg')
    }
  }
  &__information{
    margin-top: 59px;
    grid-area: information;
  }
  &__pagamento{
    margin-top: 59px;
    margin-left: 47px;
    grid-area: pagamento;
  }
  &__div-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 195px;
    height: 150px;
    gap: 15px;
  }
  &__cadastre{
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 260px;
    border-radius: 10px;
    background-color: $background;
    grid-area: cadastre;
  }
  &__p--cadastre{
    margin: 40px 70px 15px 29px;
    font-family: $font;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 26px;
    text-transform: uppercase;
    color: #3f3f40;
  }
  &__p--small{
    width: 310px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 19px;
    color: #3f3f40;
  }
  &__div-input{
    display: flex;
    gap: 9px;
    width: 301px;
    height: 45px;
    margin-top: 31px;
    background-color: transparent;
  }
  &__input--cadastre{
    width: 230px;
    background-color: $background;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    padding: 13px 0 12px 25px;
  }
  &__button--cadastre{
    width: 62px;
    height: 45px;
    font-family: $font;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 20px;
    border-radius: 4px;
    background-color: $accent-color;
    color: $background;
  }
  strong{
    font-size: 2.1rem;
  }
  &__direitos{
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-top: 1px solid $background;
    grid-area: direitos;
  }
  &__p--direitos{
    width: 50%;
    height: 26px;
    margin: 22px 0 0px 93px;
    font-family: $font;
    font-weight: 400;
    font-size: 1rem;
    line-height: 13px;
    text-transform: uppercase;
    color: $background;
  }
  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 93px;
    gap: 32px;
  }
}