$background: #ffffff;
$dark-color: #2a2a2a;
$gray: #9f9f9f;
$accent-color: #f71963;
$light-color: #F7F5F2;
/* Tipografía */
$font: 'Poppins', sans-serif;


@mixin background ($url){
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}