@use "./global" as *;

.section-marcas{
  display: grid;
  place-items: center;
  margin: 155px 89px 89px 101px;
  &__div{
    display: flex;
    justify-items: center;
    margin: 52px auto;
    gap: 40px;
  }   
  &__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 211px;
    height: 211px;
    background-color: $background;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.13);
    border-radius: 50%;
  }
  &__logo{
    width: 172px;
    height: 62.6px;
    @include background('/src/assets/logo.svg');
  }
}