@charset "UTF-8";
/*
  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
/* Aquí definimos las Custom properties */
/* Tipografía */
/* Las adaptamos al modo oscuro */
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

.header {
  display: grid;
  grid-template-rows: 32px 72px 40px;
  height: 144px;
  width: 100%;
  padding: 0 74px 0 86px;
}
.header__div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 72px;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.header__div--container {
  display: flex;
  align-items: center;
  height: 48px;
  width: 657px;
  padding: 0 24px;
  margin: 0 61px 0 95px;
  background-color: #F7F5F2;
  border-radius: 10px;
}
.header__input {
  height: 48px;
  width: 657px;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #9f9f9f;
  outline: none;
}
.header__li {
  color: #f71963;
  margin: 0 119px;
}
.header__li--compra {
  color: #9f9f9f;
}
.header__li:nth-child(1)::after {
  content: " 100% seguro ";
  color: #f71963;
  vertical-align: middle;
}
.header__li:nth-child(2)::after {
  content: " acima de R$ 200";
  color: #9f9f9f;
  vertical-align: middle;
}
.header__li:nth-child(3)::after {
  content: " suas compras";
  color: #9f9f9f;
  vertical-align: middle;
}
.header__span {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__span--lent {
  width: 28px;
  height: 28px;
  background-image: url("/src/assets/VTEX-TEST/MagnifyingGlass.svg");
}
.header__span--logo {
  height: 50.69px;
  width: 139px;
  background-image: url("/src/assets/logo.svg");
}
.header__span--compra {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 9px;
  background-image: url("/src/assets/ShieldCheck.svg");
}
.header__span--frete {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 9px;
  background-image: url("/src/assets/Truck.svg");
}
.header__span--parcele {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 9px;
  background-image: url("/src/assets/CreditCard.svg");
}
.header__ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  margin: 0 auto;
  color: #9f9f9f;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav__li {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}
.nav__ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 90%;
  margin: 0 auto;
  color: #9f9f9f;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul__a {
  width: 32px;
  height: 32px;
  margin: 0 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ul__a:nth-child(1) {
  width: 24px;
  height: 24px;
  background-image: url("/src/assets/VTEX-TEST/Group.svg");
}
.ul__a:nth-child(2) {
  background-image: url("/src/assets/VTEX-TEST/Heart.svg");
}
.ul__a:nth-child(3) {
  background-image: url("/src/assets/VTEX-TEST/UserCircle.svg");
}
.ul__a:nth-child(4) {
  background-image: url("/src/assets/VTEX-TEST/ShoppingCart.svg");
}

.div {
  width: 100%;
  height: 395px;
  padding: 52px 90px 50px 90px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000), url("/src/assets/picture.jpg");
}
.div__h2 {
  width: 21ch;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 72px;
  color: #ffffff;
}
.div__p {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  color: #ffffff;
}
.div__button {
  width: 227px;
  height: 60px;
  margin-top: 51px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 27px;
  color: #ffffff;
  background-color: #f71963;
}