@charset "UTF-8";
/* Tipografía */
/*
  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
/* Aquí definimos las Custom properties */
/* Las adaptamos al modo oscuro */
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, blockquote, i, b, u, em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

main {
  margin-bottom: 161px;
}

.header {
  display: grid;
  grid-template-rows: 32px 72px 40px;
  height: 144px;
  width: 100%;
  padding: 0 74px 0 86px;
}
.header__div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 72px;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.header__div--container {
  display: flex;
  align-items: center;
  height: 48px;
  width: 657px;
  padding: 0 24px;
  margin: 0 61px 0 95px;
  background-color: #F7F5F2;
  border-radius: 10px;
}
.header__input {
  height: 48px;
  width: 657px;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #9f9f9f;
  outline: none;
}
.header__li {
  color: #f71963;
  margin: 0 60px;
}
.header__li--compra {
  color: #9f9f9f;
}
.header__li:nth-child(1)::after {
  content: " 100% seguro ";
  color: #f71963;
  vertical-align: middle;
}
.header__li:nth-child(2)::after {
  content: " acima de R$ 200";
  color: #9f9f9f;
  vertical-align: middle;
}
.header__li:nth-child(3)::after {
  content: " suas compras";
  color: #9f9f9f;
  vertical-align: middle;
}
.header__span--lent {
  width: 28px;
  height: 28px;
  background-image: url("/src/assets/VTEX-TEST/MagnifyingGlass.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__span--logo {
  height: 50.69px;
  min-width: 139px;
  background-image: url("/src/assets/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__span--compra {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 9px;
  background-image: url("/src/assets/ShieldCheck.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__span--frete {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 9px;
  background-image: url("/src/assets/Truck.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__span--parcele {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 9px;
  background-image: url("/src/assets/CreditCard.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  margin: 0 auto;
  color: #9f9f9f;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav__li {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
.nav__ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 90%;
  margin: 0 auto;
  color: #9f9f9f;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul__a {
  width: 32px;
  height: 32px;
  margin: 0 16px;
}
.ul__a:nth-child(1) {
  width: 24px;
  height: 24px;
  background-image: url("/src/assets/VTEX-TEST/Group.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ul__a:nth-child(2) {
  background-image: url("/src/assets/VTEX-TEST/Heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ul__a:nth-child(3) {
  background-image: url("/src/assets/VTEX-TEST/UserCircle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ul__a:nth-child(4) {
  background-image: url("/src/assets/VTEX-TEST/ShoppingCart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.div {
  width: 100%;
  height: 395px;
  padding: 52px 90px 50px 90px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000), url("/src/assets/images/picture.jpg");
}
.div__h2 {
  width: 21ch;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 72px;
  color: #ffffff;
}
.div__p {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  color: #ffffff;
}
.div__button {
  width: 227px;
  height: 60px;
  margin-top: 51px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 27px;
  color: #ffffff;
  background-color: #f71963;
  cursor: pointer;
}

.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  padding: 34px 77px 39px 82px;
}
.section__a {
  width: 128px;
  height: 174px;
  text-align: center;
}
.section__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128;
  height: 128px;
  background-color: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}
.section__span {
  display: inline-block;
  width: 61px;
  height: 61px;
}
.section__span--tecnologia {
  background-image: url("/src/assets/icons/monitorar-tablet-e-smartohone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section__span--super {
  background-image: url("/src/assets/icons/supermercados.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section__span--bebida {
  background-image: url("/src/assets/icons/whiskey.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section__span--ferramenta {
  background-image: url("/src/assets/icons/ferramentas.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section__span--saude {
  background-image: url("/src/assets/icons/cuidados-de-saude.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section__span--esportes {
  background-image: url("/src/assets/icons/corrida.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section__span--moda {
  background-image: url("/src/assets/icons/moda.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section__p {
  margin-top: 22px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #f71963;
}

.section-parceiros {
  display: flex;
  justify-content: center;
  gap: 105px;
  margin: 71px 0 51px 0;
}
.section-parceiros__div {
  width: 574px;
  height: 350px;
  padding: 114px 339px 40px 40px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000), url("/src/assets/images/MaskGroup.jpg");
  border-radius: 20px;
}
.section-parceiros__div--produtos {
  height: 282px;
  width: 590px;
  padding: 46px 349px 39px 41px;
}
.section-parceiros__h2 {
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 60px;
  color: #ffffff;
}
.section-parceiros__p {
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: #ffffff;
}

.div__button--parceiros {
  width: 131px;
  height: 48px;
  margin-top: 32px;
  border-radius: 10px;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 20px;
}

.section-marcas {
  display: grid;
  place-items: center;
  margin: 155px 89px 89px 101px;
}
.section-marcas__div {
  display: flex;
  justify-items: center;
  margin: 52px auto;
  gap: 40px;
}
.section-marcas__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 211px;
  background-color: #ffffff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
}
.section-marcas__logo {
  width: 172px;
  height: 62.6px;
  background-image: url("/src/assets/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer {
  display: grid;
  grid-template: "sobre information pagamento cadastre" "direitos direitos direitos direitos";
  width: 100%;
  padding: 0 93px;
  background-color: #2a2a2a;
  color: #ffffff;
}
.footer__sobre {
  margin: 59px 93px 42px 0;
  grid-area: sobre;
}
.footer__h4 {
  width: 100%;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 19.5px;
  text-transform: uppercase;
}
.footer__p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
}
.footer__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.footer__span {
  width: 20px;
  height: 20px;
  margin-top: 64px;
}
.footer__span--facebook {
  background-image: url("../assets/VTEX-TEST/facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--instagram {
  background-image: url("../assets/VTEX-TEST/044-instagram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--youtube {
  background-image: url("../assets/VTEX-TEST/Vector.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--visa {
  width: 43.8px;
  height: 15.54px;
  margin: 0;
  background-image: url("../assets/logos/Group1351.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--elo {
  width: 44px;
  height: 20.7px;
  margin: 0;
  background-image: url("../assets/logos/elo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--aolo {
  width: 39px;
  height: 26px;
  margin: 0;
  background-image: url("../assets/logos/alelo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--dinner {
  width: 56px;
  height: 14.5px;
  margin: 0;
  background-image: url("../assets/logos/dinners.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--ifood {
  width: 41px;
  height: 21.7px;
  margin: 0;
  background-image: url("../assets/logos/ifood.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--master {
  width: 37.2px;
  height: 29px;
  margin: 0;
  background-image: url("../assets/logos/mastercard.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--pix {
  width: 55px;
  height: 19.55px;
  margin: 0;
  background-image: url("../assets/logos/pix.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--american {
  width: 32px;
  height: 30.31px;
  margin: 0;
  background-image: url("../assets/logos/amex.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--tiquet {
  width: 29px;
  height: 29px;
  margin: 0;
  background-image: url("../assets/logos/ticket.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--sodexo {
  width: 48px;
  height: 16px;
  margin: 0;
  background-image: url("../assets/logos/sodexo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--econverse {
  width: 106.25px;
  height: 31.62px;
  margin: 0;
  background-image: url("../assets/VTEX-TEST/Grupo1999.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__span--vtex {
  margin: 0;
  width: 87.83px;
  height: 32px;
  background-image: url("../assets/VTEX-TEST/Group35.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__information {
  margin-top: 59px;
  grid-area: information;
}
.footer__pagamento {
  margin-top: 59px;
  margin-left: 47px;
  grid-area: pagamento;
}
.footer__div-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 195px;
  height: 150px;
  gap: 15px;
}
.footer__cadastre {
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 260px;
  border-radius: 10px;
  background-color: #ffffff;
  grid-area: cadastre;
}
.footer__p--cadastre {
  margin: 40px 70px 15px 29px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 26px;
  text-transform: uppercase;
  color: #3f3f40;
}
.footer__p--small {
  width: 310px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 19px;
  color: #3f3f40;
}
.footer__div-input {
  display: flex;
  gap: 9px;
  width: 301px;
  height: 45px;
  margin-top: 31px;
  background-color: transparent;
}
.footer__input--cadastre {
  width: 230px;
  background-color: #ffffff;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  padding: 13px 0 12px 25px;
}
.footer__button--cadastre {
  width: 62px;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  border-radius: 4px;
  background-color: #f71963;
  color: #ffffff;
}
.footer strong {
  font-size: 2.1rem;
}
.footer__direitos {
  display: flex;
  justify-content: space-between;
  height: 70px;
  border-top: 1px solid #ffffff;
  grid-area: direitos;
}
.footer__p--direitos {
  width: 50%;
  height: 26px;
  margin: 22px 0 0px 93px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 13px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 93px;
  gap: 32px;
}